In [ ]:
pip install pandas folium geopy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: folium in /usr/local/lib/python3.10/dist-packages (0.17.0)
Requirement already satisfied: geopy in /usr/local/lib/python3.10/dist-packages (2.4.1)
Requirement already satisfied: numpy>=1.22.4 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: branca>=0.6.0 in /usr/local/lib/python3.10/dist-packages (from folium) (0.8.0)
Requirement already satisfied: jinja2>=2.9 in /usr/local/lib/python3.10/dist-packages (from folium) (3.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from folium) (2.32.3)
Requirement already satisfied: xyzservices in /usr/local/lib/python3.10/dist-packages (from folium) (2024.9.0)
Requirement already satisfied: geographiclib<3,>=1.52 in /usr/local/lib/python3.10/dist-packages (from geopy) (2.0)
Requirement already satisfied: MarkupSafe>=2.0 in /usr/local/lib/python3.10/dist-packages (from jinja2>=2.9->folium) (3.0.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->folium) (2024.8.30)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os
import re
import warnings
warnings.filterwarnings('ignore')

In [ ]:
!pip install koreanize-matplotlib

Collecting koreanize-matplotlib
  Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl.metadata (992 bytes)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.10/dist-packages (from koreanize-matplotlib) (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (4.54.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (1.26.4)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (24.1)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib->koreanize-matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib->koreanize-matplotlib) (1.16.0)
Downloading koreanize_matplotlib-0.1.1-py3-none-any.whl (7.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 7.9/7.9 MB 55.0 MB/s eta 0:00:00
Installing collected packages: koreanize-matplotlib
Successfully installed koreanize-matplotlib-0.1.1

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
dest_name = pd.read_csv('/content/drive/MyDrive/KIKmix_20230701.csv')
dest_name.head()

        행정동코드    시도명 시군구명   읍면동명       법정동코드    동리명      생성일자  말소일자
0  1100000000  서울특별시  NaN    NaN  1100000000  서울특별시  19880423   NaN
1  1111000000  서울특별시  종로구    NaN  1111000000    종로구  19880423   NaN
2  1111051500  서울특별시  종로구  청운효자동  1111010100    청운동  20081101   NaN
3  1111051500  서울특별시  종로구  청운효자동  1111010200    신교동  20081101   NaN
4  1111051500  서울특별시  종로구  청운효자동  1111010300    궁정동  20081101   NaN

In [ ]:
bf_festival_file_path = '/content/drive/MyDrive/bf_od'
festival_file_path = '/content/drive/MyDrive/f_od'

In [ ]:
# MyDrive의 data 폴더에서 모든 CSV 파일 경로 가져오기
bf_festival_csv_files = glob.glob('/content/drive/MyDrive/bf_od/*.csv')
festival_csv_files = glob.glob('/content/drive/MyDrive/f_od/*.csv')

bf_df_list = []  # 각 파일의 데이터프레임을 저장할 리스트
for file in bf_festival_csv_files:
    print(f"파일명: {file.split('/')[-1]}")  # 파일명만 출력
    df = pd.read_csv(file)  # 각 파일의 데이터 읽기
    bf_df_list.append(df)   # 리스트에 데이터프레임 추가

# 모든 데이터프레임을 하나로 합치기
bf_df = pd.concat(bf_df_list, ignore_index=True)

f_df_list = []  # 각 파일의 데이터프레임을 저장할 리스트
for file in festival_csv_files:
    print(f"파일명: {file.split('/')[-1]}")  # 파일명만 출력
    df = pd.read_csv(file)  # 각 파일의 데이터 읽기
    f_df_list.append(df)    # 리스트에 데이터프레임 추가

# 모든 데이터프레임을 하나로 합치기
f_df = pd.concat(f_df_list, ignore_index=True)

파일명: od_20231001_1.csv
파일명: od_20230927_1.csv
파일명: od_20230928_1.csv
파일명: od_20230929_1.csv
파일명: od_20230930_1.csv
파일명: od_20230925_1.csv
파일명: od_20230926_1.csv
파일명: od_20231011_1.csv
파일명: od_20231008_1.csv
파일명: od_20231009_1.csv
파일명: od_20231010_1.csv
파일명: od_20231014_1.csv
파일명: od_20231012_1.csv
파일명: od_20231013_1.csv

In [ ]:
#[법정동(행정동)]
#진주시 성북동(본성동, 남성동, 인사동, 중안동, 계동, 봉곡동)
#진주시 중앙동(동성동, 대안동, 평안동, 수정동, 장대동, 옥봉동)
#진주시 상봉동
#진주시 상평동
#진주시 상대동
#진주시 충무공동
#진주시 가호동(가좌동, 호탄동)
#진주시 이현동
#진주시 신안동
#진주시 평거동
#진주시 초장동(초전동)
#진주시 예하리

target_dest_file_path = '/content/drive/MyDrive/target_dest_code.csv'
target_dest_df = pd.read_csv(target_dest_file_path)
target_dest_df.head()

   dest_hdong_cd province city vilage  dest_bdong_cd avenue
0     4817055500     경상남도  진주시    성북동     4817010500    본성동
1     4817055500     경상남도  진주시    성북동     4817010700    남성동
2     4817055500     경상남도  진주시    성북동     4817010800    인사동
3     4817055500     경상남도  진주시    성북동     4817011100    중안동
4     4817055500     경상남도  진주시    성북동     4817011200     계동

In [ ]:
target_codes = target_dest_df['dest_hdong_cd'].unique()

# bf_df에서 'dest_hdong_cd'가 target_codes에 있는 데이터 필터링
bf_filtered = bf_df[bf_df['dest_hdong_cd'].isin(target_codes)]

# f_df에서 'dest_hdong_cd'가 target_codes에 있는 데이터 필터링
f_filtered = f_df[f_df['dest_hdong_cd'].isin(target_codes)]

In [ ]:
bf_filtered

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
365,4817069500,4817056500,20231001,10:00,10:00,0,1,0.0,0.0,4,10325,12,7
1039,4817067800,4817069500,20231001,22:00,23:00,0,2,0.0,0.0,0,15815,28,6
1395,4817056500,4817059500,20231001,22:00,22:00,1,4,0.0,4.0,4,7569,4,8
1514,4817074000,4817059500,20231001,17:00,17:00,1,2,0.0,4.0,0,30043,36,8
2423,4817059500,4817056500,20231001,14:00,14:00,0,1,0.0,0.0,0,2204,12,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24885368,4817067800,4817059500,20230926,09:00,10:00,1,1,0.0,0.0,2,52095,41,5
24886023,4817067300,4817055500,20230926,08:00,08:00,1,4,0.0,0.0,1,27713,29,5
24887094,4817056500,4817055500,20230926,12:00,12:00,0,6,0.0,1.0,1,5373,13,5
24887404,4817069500,4817067300,20230926,20:00,20:00,1,4,0.0,0.0,4,6431,10,5
24887666,4817071500,4817059500,20230926,21:00,21:00,1,5,0.0,4.0,0,6721,10,5

In [ ]:
bf_filtered_nh = bf_filtered[~bf_filtered['dest_purpose'].isin([0, 2])]
bf_filtered_nh

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
365,4817069500,4817056500,20231001,10:00,10:00,0,1,0.0,0.0,4,10325,12,7
1395,4817056500,4817059500,20231001,22:00,22:00,1,4,0.0,4.0,4,7569,4,8
3287,4817041000,4817074000,20231001,15:00,16:00,0,2,0.0,0.0,4,45475,55,8
4050,4613080000,4817059500,20231001,08:00,10:00,1,0,0.0,5.0,4,315066,155,16
5915,4817073000,4817055500,20231001,16:00,17:00,1,0,1.0,2.0,3,39987,57,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24883188,4817051500,4817056500,20230926,10:00,12:00,1,3,0.0,4.0,4,55893,94,5
24885074,4817051500,4817055500,20230926,08:00,08:00,1,1,0.0,0.0,4,8026,20,5
24886023,4817067300,4817055500,20230926,08:00,08:00,1,4,0.0,0.0,1,27713,29,5
24887094,4817056500,4817055500,20230926,12:00,12:00,0,6,0.0,1.0,1,5373,13,5
24887404,4817069500,4817067300,20230926,20:00,20:00,1,4,0.0,0.0,4,6431,10,5

In [ ]:
f_filtered

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
43,4817067800,4817067300,20231011,10:00,10:00,0,5,4.0,0.0,0,1590,12,8
104,4817055500,4817071000,20231011,17:00,18:00,0,3,0.0,1.0,0,52819,42,7
614,4817025000,4817071000,20231011,19:00,19:00,0,0,0.0,3.0,4,54212,19,10
1305,4817073000,4817071000,20231011,18:00,18:00,1,1,0.0,2.0,0,9883,16,19
2628,4817051500,4817067300,20231011,21:00,21:00,0,1,0.0,0.0,0,2181,7,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24381293,4817069500,4817067300,20231013,11:00,12:00,1,4,0.0,4.0,4,30939,58,5
24381423,4817075000,4817074000,20231013,17:00,17:00,1,2,0.0,4.0,4,22050,25,5
24381699,4817067300,4817071000,20231013,19:00,20:00,1,5,0.0,4.0,0,32796,54,5
24381700,4824025000,4817074000,20231013,17:00,17:00,0,3,0.0,1.0,0,63648,34,5
24382397,3114059500,4817056500,20231013,14:00,16:00,0,2,0.0,4.0,5,242389,137,5

In [ ]:
f_filtered_nh = f_filtered[~f_filtered['dest_purpose'].isin([0,2])]
f_filtered_nh

,origin_hdong_cd,dest_hdong_cd,date,start_time,end_time,gender,age,modal,origin_purpose,dest_purpose,od_dist_avg,od_duration_avg,od_cnts
614,4817025000,4817071000,20231011,19:00,19:00,0,0,0.0,3.0,4,54212,19,10
2916,4817067300,4817059500,20231011,10:00,11:00,0,4,0.0,4.0,4,34030,64,7
4567,4817025000,4817056500,20231011,15:00,15:00,1,4,0.0,4.0,3,35174,18,7
4684,4817055500,4817056500,20231011,13:00,13:00,1,3,0.0,1.0,1,4087,14,18
5314,4817051500,4817074000,20231011,13:00,13:00,0,2,0.0,0.0,4,21699,25,31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24380214,4817068000,4817067300,20231013,15:00,16:00,0,4,0.0,1.0,1,72040,58,5
24381245,4817051500,4817074000,20231013,13:00,13:00,1,2,1.0,0.0,1,18055,26,5
24381293,4817069500,4817067300,20231013,11:00,12:00,1,4,0.0,4.0,4,30939,58,5
24381423,4817075000,4817074000,20231013,17:00,17:00,1,2,0.0,4.0,4,22050,25,5
24382397,3114059500,4817056500,20231013,14:00,16:00,0,2,0.0,4.0,5,242389,137,5

In [ ]:
# origin_hdong_cd의 값 개수 세기
origin_hdong_counts = bf_filtered_nh['origin_hdong_cd'].value_counts()

# 각 origin_hdong_cd에 맞는 시도명과 시군구명 찾기 및 출력
for code, count in origin_hdong_counts.items():
    # KIKmix에서 행정동코드에 해당하는 시도명/시군구명 찾기
    matching_info = dest_name[dest_name['행정동코드'] == code]

    if not matching_info.empty:
        sido = matching_info.iloc[0]['시도명']
        sigungu = matching_info.iloc[0]['시군구명']
        eupmyeondong = matching_info.iloc[0]['읍면동명']

        print(f"{sido} {sigungu} {eupmyeondong}: {count}개")

경상남도 진주시 천전동: 3975개
경상남도 진주시 성북동: 3132개
경상남도 진주시 충무공동: 2544개
경상남도 진주시 판문동: 2167개
경상남도 진주시 초장동: 2019개
경상남도 진주시 평거동: 1855개
경상남도 진주시 하대동: 1827개
경상남도 진주시 가호동: 1766개
경상남도 진주시 신안동: 1373개
경상남도 진주시 상대동: 1371개
경상남도 진주시 이현동: 1146개
경상남도 진주시 중앙동: 1142개
경상남도 진주시 상평동: 922개
경상남도 진주시 상봉동: 904개
경상남도 진주시 금산면: 851개
경상남도 진주시 정촌면: 519개
경상남도 진주시 내동면: 402개
경상남도 사천시 사천읍: 277개
경상남도 진주시 문산읍: 255개
경상남도 사천시 사남면: 174개
경상남도 진주시 명석면: 174개
경상남도 진주시 집현면: 142개
경상남도 산청군 신안면: 115개
경상남도 사천시 정동면: 93개
경상남도 산청군 단성면: 90개
경상남도 산청군 금서면: 90개
경상남도 사천시 동서동: 73개
경상남도 사천시 벌용동: 70개
경상남도 사천시 곤명면: 64개
경상남도 산청군 산청읍: 63개
경상남도 함양군 함양읍: 56개
경상남도 진주시 미천면: 52개
경상남도 진주시 대곡면: 48개
경상남도 산청군 시천면: 47개
경상남도 하동군 진교면: 47개
경상남도 사천시 용현면: 46개
경상남도 진주시 진성면: 45개
경상남도 사천시 남양동: 43개
경상남도 하동군 북천면: 42개
경상남도 하동군 옥종면: 39개
경상남도 사천시 곤양면: 35개
경상남도 사천시 축동면: 31개
경상남도 진주시 이반성면: 30개
경상남도 거창군 거창읍: 29개
경상남도 하동군 하동읍: 28개
경상남도 사천시 서포면: 28개
경상남도 산청군 신등면: 26개
경상남도 남해군 남해읍: 26개
경상남도 진주시 사봉면: 25개
경상남도 고성군 고성읍: 25개
경상남도 진주시 수곡면: 24개
경상남도 합천군 합천읍: 23개
경상남도 진주시 금곡면: 23개
경상남도 사천시 동서금동: 23개
경상남도 의령군 의령읍: 23개
경상남도 김해시 장유3동: 23개
경상남도 창원시 마산회원구 내서읍: 22개
경상남도 합천군 삼가면: 22개
경상남도 진주시 일반성면: 21개
경상남도 창원시 마산합포구 월영동: 21개
경상남도 통영시 광도면: 21개
경상남도 사천시 향촌동: 20개
경상남도 남해군 삼동면: 20개
경상남도 김해시 진영읍: 20개
경상남도 거제시 상문동: 18개
경상남도 진주시 지수면: 18개
경상남도 진주시 대평면: 17개
경상남도 창원시 의창구 북면: 17개
경상남도 거제시 고현동: 16개
경상남도 고성군 회화면: 15개
경상남도 남해군 창선면: 15개
경상남도 산청군 차황면: 15개
경상남도 사천시 선구동: 15개
부산광역시 사상구 괘법동: 14개
경상남도 함안군 가야읍: 14개
경상남도 양산시 물금읍: 14개
경상남도 하동군 화개면: 14개
경상남도 남해군 남면: 13개
경상남도 창원시 의창구 명곡동: 13개
경상남도 창원시 성산구 중앙동: 13개
경상남도 산청군 생초면: 13개
경상남도 산청군 생비량면: 13개
경상남도 창원시 의창구 팔룡동: 13개
경상남도 하동군 악양면: 13개
전라남도 광양시 중마동: 12개
경상남도 김해시 북부동: 12개
경상남도 창원시 의창구 봉림동: 12개
경상남도 하동군 횡천면: 12개
경상남도 의령군 대의면: 12개
경상남도 창원시 성산구 가음정동: 11개
경상남도 함안군 군북면: 11개
경상남도 고성군 영오면: 11개
경상남도 합천군 용주면: 11개
경상남도 고성군 삼산면: 10개
전라남도 구례군 산동면: 10개
경상남도 창원시 의창구 의창동: 10개
경상남도 김해시 내외동: 10개
경상남도 김해시 장유1동: 10개
경상남도 통영시 무전동: 9개
경상남도 창원시 마산합포구 진전면: 9개
경상남도 남해군 미조면: 9개
경상남도 하동군 고전면: 9개
경상남도 창원시 성산구 사파동: 9개
경상남도 거제시 동부면: 8개
경상남도 고성군 하이면: 8개
경상남도 통영시 중앙동: 8개
경상남도 창원시 의창구 동읍: 8개
경상남도 남해군 이동면: 8개
경상남도 창원시 성산구 성주동: 8개
경상남도 거제시 사등면: 8개
경상남도 합천군 가야면: 8개
전라남도 광양시 광양읍: 8개
경상남도 하동군 금성면: 8개
경상남도 하동군 청암면: 8개
경상남도 하동군 금남면: 8개
경상남도 거제시 옥포2동: 7개
경상남도 합천군 가회면: 7개
경상남도 거제시 아주동: 7개
경상남도 거제시 장평동: 7개
경상남도 창원시 진해구 웅동2동: 7개
대구광역시 달성군 다사읍: 7개
경상남도 김해시 주촌면: 7개
경상남도 산청군 삼장면: 7개
울산광역시 울주군 범서읍: 7개
경상남도 의령군 화정면: 7개
경상남도 창원시 성산구 상남동: 7개
경상남도 고성군 하일면: 7개
경상남도 통영시 용남면: 7개
전라남도 순천시 덕연동: 7개
경상북도 구미시 양포동: 7개
전라남도 순천시 풍덕동: 6개
경상남도 고성군 영현면: 6개
경상남도 창원시 마산합포구 문화동: 6개
대구광역시 달성군 유가읍: 6개
부산광역시 기장군 정관읍: 6개
경상남도 창원시 마산합포구 현동: 6개
경상남도 창원시 진해구 자은동: 6개
경상남도 거제시 수양동: 6개
경상남도 창원시 마산합포구 구산면: 6개
경상남도 창원시 마산합포구 진북면: 6개
경상남도 창원시 마산회원구 합성2동: 5개
부산광역시 사하구 다대제1동: 5개
울산광역시 울주군 언양읍: 5개
경상남도 거제시 장목면: 5개
전라남도 광양시 진월면: 5개
부산광역시 부산진구 부전제2동: 5개
경상남도 고성군 동해면: 5개
경상남도 통영시 정량동: 5개
대구광역시 달서구 월성1동: 5개
전라남도 순천시 해룡면: 5개
경상남도 거제시 연초면: 5개
전라남도 여수시 만덕동: 5개
경상남도 창원시 성산구 반송동: 5개
전라남도 순천시 도사동: 5개
경상남도 하동군 양보면: 5개
경상남도 남해군 설천면: 5개
경상남도 창원시 마산회원구 구암2동: 5개
경상남도 창원시 마산합포구 오동동: 5개
경상남도 하동군 적량면: 5개
부산광역시 서구 서대신제4동: 5개
경상남도 고성군 마암면: 5개
부산광역시 남구 대연제3동: 5개
경상남도 합천군 대양면: 5개
광주광역시 광산구 첨단2동: 5개
경상남도 김해시 장유2동: 5개
경상남도 함안군 산인면: 5개
경상남도 통영시 봉평동: 5개
부산광역시 동래구 온천제2동: 5개
경상남도 창원시 진해구 석동: 5개
경상남도 고성군 상리면: 5개
울산광역시 북구 농소2동: 5개
경상남도 창원시 성산구 용지동: 5개
경상북도 경산시 동부동: 5개
경상남도 함양군 휴천면: 4개
부산광역시 수영구 망미제1동: 4개
부산광역시 해운대구 우제3동: 4개
경상남도 합천군 대병면: 4개
경상남도 창원시 성산구 웅남동: 4개
경상남도 거창군 신원면: 4개
전라북도 장수군 계북면: 4개
경상북도 구미시 산동읍: 4개
경상남도 밀양시 삼문동: 4개
경상남도 통영시 도천동: 4개
경상남도 의령군 칠곡면: 4개
경상남도 함양군 서상면: 4개
경상남도 창원시 마산회원구 회원2동: 4개
경상남도 김해시 삼안동: 4개
경상남도 창원시 마산회원구 구암1동: 4개
부산광역시 부산진구 연지동: 4개
대구광역시 동구 신천4동: 4개
부산광역시 강서구 대저2동: 4개
전라북도 무주군 안성면: 4개
대구광역시 달성군 구지면: 4개
경상남도 양산시 중앙동: 4개
경상남도 김해시 활천동: 4개
부산광역시 기장군 기장읍: 4개
전라북도 전주시 완산구 효자5동: 4개
경상남도 통영시 산양읍: 4개
대전광역시 대덕구 송촌동: 4개
경상남도 창원시 마산회원구 양덕2동: 4개
부산광역시 기장군 일광읍: 4개
경상남도 함안군 법수면: 4개
경상남도 통영시 미수동: 4개
경상남도 함양군 마천면: 4개
경상남도 함안군 함안면: 4개
경상남도 함양군 유림면: 4개
경상북도 구미시 인동동: 4개
경상남도 남해군 고현면: 4개
경상남도 양산시 삼성동: 4개
서울특별시 서초구 서초3동: 4개
경상남도 함양군 백전면: 4개
세종특별자치시 nan 한솔동: 4개
전라남도 광양시 금호동: 4개
울산광역시 울주군 상북면: 4개
경상남도 밀양시 삼랑진읍: 4개
부산광역시 금정구 장전제1동: 4개
경상남도 창원시 마산합포구 진동면: 4개
충청남도 아산시 온양6동: 3개
부산광역시 부산진구 부전제1동: 3개
경상남도 함안군 칠원읍: 3개
충청남도 아산시 둔포면: 3개
경상남도 함양군 안의면: 3개
부산광역시 금정구 장전제2동: 3개
경상남도 고성군 대가면: 3개
대구광역시 동구 혁신동: 3개
부산광역시 사상구 감전동: 3개
부산광역시 금정구 청룡노포동: 3개
경상남도 함양군 수동면: 3개
전라남도 순천시 왕조1동: 3개
경상남도 창원시 마산회원구 석전동: 3개
경상남도 창원시 진해구 웅천동: 3개
울산광역시 남구 옥동: 3개
경상남도 통영시 도산면: 3개
부산광역시 동래구 온천제3동: 3개
경상남도 거제시 일운면: 3개
경상남도 양산시 동면: 3개
대구광역시 달성군 화원읍: 3개
부산광역시 북구 화명제3동: 3개
경상남도 함안군 대산면: 3개
대구광역시 달서구 유천동: 3개
대전광역시 유성구 온천2동: 3개
전라남도 광양시 광영동: 3개
경상남도 창원시 진해구 풍호동: 3개
경상남도 남해군 상주면: 3개
대전광역시 서구 둔산2동: 3개
부산광역시 수영구 남천제2동: 3개
부산광역시 남구 대연제5동: 3개
전라남도 여수시 시전동: 3개
대구광역시 중구 성내1동: 3개
충청남도 천안시 서북구 부성2동: 3개
대구광역시 달성군 현풍읍: 3개
전라북도 전주시 완산구 효자4동: 3개
울산광역시 남구 무거동: 3개
경상남도 의령군 유곡면: 3개
경상남도 거창군 남상면: 3개
부산광역시 강서구 녹산동: 3개
대구광역시 동구 신암4동: 3개
전라남도 여수시 중앙동: 3개
경상남도 거제시 거제면: 3개
경상남도 합천군 율곡면: 3개
경상남도 산청군 오부면: 3개
충청남도 예산군 예산읍: 3개
울산광역시 울주군 온양읍: 3개
부산광역시 강서구 명지1동: 3개
부산광역시 해운대구 좌제3동: 3개
경상남도 함양군 지곡면: 3개
경상북도 경주시 용강동: 3개
전라북도 전주시 덕진구 송천1동: 3개
부산광역시 북구 화명제2동: 3개
경상남도 창원시 마산합포구 반월중앙동: 3개
부산광역시 북구 덕천제2동: 3개
충청남도 금산군 군북면: 3개
대전광역시 동구 용전동: 3개
경상북도 경주시 불국동: 3개
서울특별시 서초구 반포3동: 3개
부산광역시 부산진구 개금제1동: 3개
울산광역시 남구 신정2동: 2개
대구광역시 달서구 용산2동: 2개
대구광역시 달서구 도원동: 2개
강원특별자치도 삼척시 남양동: 2개
경상남도 함안군 칠서면: 2개
부산광역시 남구 문현제3동: 2개
부산광역시 수영구 광안제4동: 2개
경상남도 창원시 마산회원구 양덕1동: 2개
경상남도 합천군 쌍백면: 2개
전라남도 영광군 영광읍: 2개
경상남도 양산시 강서동: 2개
전라남도 광양시 골약동: 2개
충청남도 천안시 동남구 성남면: 2개
울산광역시 북구 농소3동: 2개
울산광역시 북구 송정동: 2개
충청북도 청주시 흥덕구 옥산면: 2개
부산광역시 사상구 덕포제2동: 2개
울산광역시 중구 다운동: 2개
경상남도 밀양시 가곡동: 2개
대전광역시 동구 산내동: 2개
경상남도 창원시 마산회원구 회원1동: 2개
부산광역시 수영구 남천제1동: 2개
부산광역시 금정구 구서제1동: 2개
대전광역시 유성구 관평동: 2개
경상북도 경산시 하양읍: 2개
경상남도 창원시 마산회원구 봉암동: 2개
경상북도 경주시 성건동: 2개
경상남도 창원시 진해구 충무동: 2개
경상북도 고령군 대가야읍: 2개
전라북도 전주시 완산구 중화산1동: 2개
경기도 평택시 동삭동: 2개
부산광역시 연제구 연산제5동: 2개
인천광역시 남동구 논현고잔동: 2개
경상남도 합천군 야로면: 2개
전라남도 구례군 문척면: 2개
대구광역시 북구 동천동: 2개
경상남도 창원시 진해구 덕산동: 2개
충청남도 아산시 탕정면: 2개
전라남도 여수시 소라면: 2개
부산광역시 부산진구 당감제4동: 2개
광주광역시 서구 풍암동: 2개
전라북도 고창군 흥덕면: 2개
부산광역시 해운대구 재송제1동: 2개
부산광역시 북구 구포제2동: 2개
대구광역시 달서구 죽전동: 2개
부산광역시 사상구 주례제3동: 2개
전라남도 광양시 태인동: 2개
전라남도 고흥군 도양읍: 2개
경상남도 고성군 거류면: 2개
충청남도 금산군 금산읍: 2개
경상남도 거제시 남부면: 2개
부산광역시 사하구 감천제1동: 2개
전라남도 해남군 화원면: 2개
서울특별시 송파구 장지동: 2개
경상북도 영천시 남부동: 2개
경상남도 거창군 마리면: 2개
부산광역시 연제구 거제제2동: 2개
전라남도 여수시 돌산읍: 2개
충청남도 계룡시 신도안면: 2개
부산광역시 해운대구 우제1동: 2개
대구광역시 북구 구암동: 2개
서울특별시 서초구 서초1동: 2개
세종특별자치시 nan 아름동: 2개
부산광역시 해운대구 재송제2동: 2개
경상남도 의령군 가례면: 2개
경상북도 김천시 율곡동: 2개
대구광역시 달성군 논공읍: 2개
부산광역시 부산진구 가야제2동: 2개
대전광역시 유성구 전민동: 2개
대구광역시 북구 무태조야동: 2개
대전광역시 서구 탄방동: 2개
경상남도 김해시 상동면: 2개
충청북도 음성군 삼성면: 2개
서울특별시 서초구 반포1동: 2개
경상남도 통영시 북신동: 2개
충청남도 천안시 서북구 부성1동: 2개
대구광역시 북구 관문동: 2개
대구광역시 수성구 고산2동: 2개
부산광역시 사하구 하단제2동: 2개
대전광역시 서구 도안동: 2개
부산광역시 부산진구 가야제1동: 2개
대구광역시 북구 대현동: 2개
대전광역시 유성구 온천1동: 2개
제주특별자치도 제주시 용담2동: 2개
경상남도 함안군 칠북면: 2개
경상남도 창녕군 남지읍: 2개
경상남도 밀양시 상남면: 2개
경상북도 의성군 안계면: 2개
경상남도 창원시 진해구 경화동: 2개
전라북도 남원시 운봉읍: 2개
경상남도 거제시 둔덕면: 2개
경상남도 창원시 마산회원구 회성동: 2개
경상남도 창원시 마산합포구 교방동: 2개
부산광역시 사상구 주례제2동: 2개
경상북도 칠곡군 석적읍: 2개
경상남도 의령군 부림면: 2개
경상남도 양산시 양주동: 2개
전라북도 전주시 덕진구 송천2동: 2개
부산광역시 금정구 구서제2동: 2개
전라남도 순천시 장천동: 2개
대구광역시 북구 국우동: 2개
부산광역시 부산진구 전포제2동: 2개
부산광역시 남구 대연제4동: 2개
경상북도 경주시 황성동: 2개
서울특별시 송파구 풍납2동: 2개
대전광역시 유성구 노은2동: 2개
전라북도 임실군 운암면: 2개
경상북도 경주시 월성동: 2개
경상남도 남해군 서면: 2개
경기도 성남시 분당구 서현1동: 2개
경상남도 거제시 능포동: 2개
대구광역시 남구 대명10동: 2개
광주광역시 남구 진월동: 2개
경기도 화성시 동탄7동: 2개
경상남도 김해시 부원동: 2개
대구광역시 동구 안심2동: 2개
경상북도 포항시 남구 대이동: 2개
충청남도 당진시 송악읍: 2개
부산광역시 서구 부민동: 2개
광주광역시 북구 양산동: 2개
대구광역시 북구 복현2동: 2개
전라남도 광양시 옥곡면: 2개
경상북도 포항시 남구 효곡동: 2개
전라남도 순천시 왕조2동: 2개
부산광역시 부산진구 부암제1동: 2개
경상남도 양산시 평산동: 2개
전라남도 순천시 삼산동: 2개
전라남도 완도군 금일읍: 2개
충청북도 진천군 이월면: 2개
경기도 이천시 증포동: 2개
대전광역시 중구 산성동: 2개
충청북도 옥천군 옥천읍: 2개
부산광역시 남구 용호제1동: 2개
전라북도 남원시 아영면: 2개
대구광역시 달서구 신당동: 2개
경상남도 김해시 진례면: 2개
경기도 화성시 동탄6동: 2개
전라북도 정읍시 수성동: 1개
전라남도 여수시 여천동: 1개
부산광역시 동래구 안락제2동: 1개
전라북도 김제시 광활면: 1개
경기도 용인시 기흥구 동백3동: 1개
경기도 안성시 원곡면: 1개
전라북도 순창군 순창읍: 1개
경상남도 창원시 마산합포구 자산동: 1개
충청북도 진천군 진천읍: 1개
전라북도 군산시 옥서면: 1개
대구광역시 수성구 만촌1동: 1개
경상북도 포항시 남구 동해면: 1개
경기도 안성시 안성3동: 1개
전라남도 보성군 노동면: 1개
서울특별시 서초구 서초4동: 1개
충청남도 서천군 서천읍: 1개
부산광역시 사상구 덕포제1동: 1개
전라남도 구례군 구례읍: 1개
대전광역시 동구 삼성동: 1개
인천광역시 남동구 만수1동: 1개
경상북도 영주시 순흥면: 1개
광주광역시 동구 산수1동: 1개
전라북도 익산시 삼성동: 1개
서울특별시 성동구 송정동: 1개
부산광역시 서구 동대신제2동: 1개
부산광역시 금정구 부곡제3동: 1개
경상남도 거창군 고제면: 1개
부산광역시 해운대구 중제2동: 1개
전라남도 광양시 봉강면: 1개
대구광역시 달서구 성당동: 1개
충청남도 서천군 마서면: 1개
인천광역시 연수구 연수2동: 1개
경상북도 영주시 단산면: 1개
경상북도 경산시 진량읍: 1개
대구광역시 달서구 두류1.2동: 1개
울산광역시 남구 신정4동: 1개
경상남도 의령군 지정면: 1개
충청남도 금산군 금성면: 1개
충청남도 당진시 당진3동: 1개
광주광역시 남구 봉선1동: 1개
서울특별시 중구 동화동: 1개
부산광역시 사하구 하단제1동: 1개
경상북도 구미시 진미동: 1개
부산광역시 사하구 괴정제1동: 1개
경상남도 김해시 회현동: 1개
경상북도 구미시 선주원남동: 1개
전라북도 군산시 월명동: 1개
대전광역시 서구 관저1동: 1개
울산광역시 중구 중앙동: 1개
부산광역시 동래구 안락제1동: 1개
경상북도 영주시 가흥1동: 1개
경기도 평택시 세교동: 1개
서울특별시 송파구 문정2동: 1개
경기도 김포시 풍무동: 1개
울산광역시 남구 삼호동: 1개
대구광역시 수성구 고산3동: 1개
경상북도 구미시 도량동: 1개
서울특별시 노원구 하계1동: 1개
대전광역시 서구 월평3동: 1개
충청남도 예산군 대흥면: 1개
서울특별시 관악구 조원동: 1개
경기도 용인시 수지구 성복동: 1개
부산광역시 남구 대연제1동: 1개
경상북도 안동시 남후면: 1개
경기도 이천시 장호원읍: 1개
충청북도 음성군 맹동면: 1개
서울특별시 서초구 반포4동: 1개
전라남도 영암군 영암읍: 1개
울산광역시 동구 남목2동: 1개
대전광역시 동구 자양동: 1개
대전광역시 동구 중앙동: 1개
부산광역시 해운대구 중제1동: 1개
경기도 부천시 상동: 1개
서울특별시 마포구 신수동: 1개
전라북도 부안군 하서면: 1개
대구광역시 남구 봉덕3동: 1개
서울특별시 서대문구 충현동: 1개
경기도 화성시 동탄8동: 1개
충청남도 천안시 서북구 성환읍: 1개
경상북도 경주시 외동읍: 1개
경기도 성남시 중원구 도촌동: 1개
대전광역시 유성구 노은1동: 1개
부산광역시 해운대구 반여제1동: 1개
경기도 부천시 범안동: 1개
경기도 수원시 권선구 호매실동: 1개
부산광역시 해운대구 반송제2동: 1개
울산광역시 남구 신정3동: 1개
대구광역시 북구 복현1동: 1개
부산광역시 수영구 민락동: 1개
대구광역시 동구 안심1동: 1개
대전광역시 서구 용문동: 1개
경상북도 포항시 남구 연일읍: 1개
경상북도 구미시 상모사곡동: 1개
충청북도 청주시 서원구 산남동: 1개
울산광역시 중구 태화동: 1개
충청북도 괴산군 청안면: 1개
대전광역시 유성구 구즉동: 1개
경상북도 구미시 고아읍: 1개
전라북도 남원시 도통동: 1개
경기도 화성시 반월동: 1개
울산광역시 울주군 온산읍: 1개
인천광역시 연수구 선학동: 1개
대전광역시 대덕구 석봉동: 1개
서울특별시 광진구 능동: 1개
광주광역시 서구 광천동: 1개
전라남도 담양군 무정면: 1개
부산광역시 금정구 금사회동동: 1개
경상북도 포항시 북구 흥해읍: 1개
충청남도 보령시 미산면: 1개
서울특별시 관악구 신림동: 1개
서울특별시 서초구 양재2동: 1개
충청북도 청주시 흥덕구 복대1동: 1개
세종특별자치시 nan 어진동: 1개
서울특별시 중랑구 면목제2동: 1개
경기도 평택시 중앙동: 1개
경상남도 의령군 궁류면: 1개
전라북도 전주시 덕진구 우아1동: 1개
경기도 수원시 권선구 권선1동: 1개
대전광역시 중구 목동: 1개
경기도 용인시 수지구 풍덕천2동: 1개
경상북도 영천시 완산동: 1개
경상북도 구미시 선산읍: 1개
충청남도 태안군 근흥면: 1개
전라북도 전주시 덕진구 금암1동: 1개
대구광역시 수성구 고산1동: 1개
전라남도 해남군 송지면: 1개
전라남도 담양군 담양읍: 1개
대구광역시 수성구 중동: 1개
울산광역시 중구 우정동: 1개
대구광역시 남구 대명6동: 1개
서울특별시 동대문구 용신동: 1개
전라남도 순천시 남제동: 1개
세종특별자치시 nan 조치원읍: 1개
광주광역시 북구 동림동: 1개
대전광역시 중구 은행선화동: 1개
부산광역시 부산진구 범천제2동: 1개
경기도 의왕시 청계동: 1개
울산광역시 동구 방어동: 1개
부산광역시 수영구 망미제2동: 1개
충청북도 청주시 상당구 용암1동: 1개
대전광역시 동구 신인동: 1개
경상북도 영천시 대창면: 1개
경기도 군포시 오금동: 1개
부산광역시 북구 만덕제3동: 1개
대전광역시 대덕구 중리동: 1개
세종특별자치시 nan 새롬동: 1개
부산광역시 해운대구 좌제1동: 1개
서울특별시 구로구 구로제5동: 1개
서울특별시 도봉구 도봉제2동: 1개
서울특별시 성북구 길음제1동: 1개
충청남도 천안시 동남구 신안동: 1개
서울특별시 서초구 반포2동: 1개
충청북도 괴산군 청천면: 1개
경상북도 경산시 서부2동: 1개
울산광역시 울주군 청량읍: 1개
경기도 성남시 분당구 야탑1동: 1개
서울특별시 서초구 서초2동: 1개
경기도 용인시 기흥구 영덕1동: 1개
경기도 안성시 일죽면: 1개
서울특별시 동작구 노량진제1동: 1개
경기도 화성시 진안동: 1개
인천광역시 부평구 부평4동: 1개
경기도 의왕시 오전동: 1개
대전광역시 서구 관저2동: 1개
경기도 남양주시 퇴계원읍: 1개
경기도 시흥시 월곶동: 1개
서울특별시 영등포구 양평제1동: 1개
서울특별시 동대문구 이문제1동: 1개
경기도 파주시 운정1동: 1개
충청북도 제천시 봉양읍: 1개
대구광역시 동구 신암1동: 1개
대구광역시 남구 대명1동: 1개
충청북도 청주시 상당구 문의면: 1개
서울특별시 강서구 염창동: 1개
전라남도 순천시 서면: 1개
대구광역시 수성구 범물2동: 1개
부산광역시 영도구 동삼제2동: 1개
대구광역시 북구 칠성동: 1개
경기도 성남시 수정구 수진2동: 1개
대구광역시 달성군 옥포읍: 1개
전라남도 광양시 다압면: 1개
경상남도 거제시 옥포1동: 1개
경기도 수원시 영통구 매탄3동: 1개
부산광역시 부산진구 범천제1동: 1개
충청남도 아산시 배방읍: 1개
경기도 평택시 안중읍: 1개
부산광역시 해운대구 좌제4동: 1개
부산광역시 부산진구 당감제1동: 1개
부산광역시 사상구 모라제1동: 1개
경상남도 창녕군 창녕읍: 1개
경기도 성남시 수정구 복정동: 1개
대전광역시 대덕구 비래동: 1개
대전광역시 서구 내동: 1개
부산광역시 동래구 사직제3동: 1개
부산광역시 동구 범일제2동: 1개
부산광역시 동구 초량제3동: 1개
대구광역시 서구 내당4동: 1개
광주광역시 북구 운암1동: 1개
서울특별시 마포구 합정동: 1개
충청남도 청양군 화성면: 1개
부산광역시 사상구 삼락동: 1개
경상북도 경주시 보덕동: 1개
울산광역시 북구 효문동: 1개
경기도 오산시 중앙동: 1개
전라남도 무안군 삼향읍: 1개
경상남도 합천군 적중면: 1개
경상남도 의령군 정곡면: 1개
경상남도 밀양시 무안면: 1개
충청남도 계룡시 두마면: 1개
경기도 성남시 분당구 야탑2동: 1개
경상북도 포항시 남구 오천읍: 1개
대전광역시 서구 월평2동: 1개
부산광역시 북구 구포제1동: 1개
울산광역시 울주군 삼남읍: 1개
경상남도 밀양시 내이동: 1개
부산광역시 수영구 광안제1동: 1개
충청북도 청주시 흥덕구 오송읍: 1개
경상북도 포항시 북구 환여동: 1개
대구광역시 북구 태전2동: 1개
대구광역시 달서구 이곡1동: 1개
충청남도 천안시 서북구 성정2동: 1개
전라남도 해남군 북일면: 1개
전라북도 진안군 진안읍: 1개
부산광역시 해운대구 반여제4동: 1개
인천광역시 서구 가정1동: 1개
대전광역시 유성구 신성동: 1개
전라북도 익산시 팔봉동: 1개
경상북도 안동시 용상동: 1개
서울특별시 강남구 도곡1동: 1개
광주광역시 광산구 어룡동: 1개
경기도 시흥시 대야동: 1개
전라남도 고흥군 금산면: 1개
경기도 남양주시 별내동: 1개
경상북도 경산시 서부1동: 1개
서울특별시 강서구 우장산동: 1개
경상남도 양산시 하북면: 1개
경상남도 밀양시 부북면: 1개
경기도 수원시 권선구 평동: 1개
대구광역시 동구 신천1.2동: 1개
전라북도 정읍시 영원면: 1개
전라남도 장성군 삼계면: 1개
경상북도 고령군 우곡면: 1개
서울특별시 강남구 대치1동: 1개
경상북도 영덕군 영덕읍: 1개
충청북도 청주시 상당구 남일면: 1개
전라남도 목포시 신흥동: 1개
경상남도 밀양시 내일동: 1개
부산광역시 부산진구 당감제2동: 1개
울산광역시 동구 남목3동: 1개
부산광역시 서구 서대신제3동: 1개
대구광역시 동구 불로.봉무동: 1개
충청남도 서천군 한산면: 1개
전라북도 임실군 성수면: 1개
경기도 안양시 동안구 귀인동: 1개
전라남도 목포시 목원동: 1개
부산광역시 북구 덕천제3동: 1개
부산광역시 금정구 서제2동: 1개
충청남도 부여군 규암면: 1개
경상북도 성주군 수륜면: 1개
경상북도 칠곡군 약목면: 1개
경기도 화성시 양감면: 1개
경상남도 고성군 구만면: 1개
전라북도 완주군 화산면: 1개
전라남도 영암군 삼호읍: 1개
경상북도 문경시 산양면: 1개
경상북도 의성군 신평면: 1개
부산광역시 부산진구 개금제3동: 1개
대구광역시 동구 안심4동: 1개
부산광역시 사하구 장림제1동: 1개
충청남도 천안시 서북구 성거읍: 1개
충청북도 청주시 서원구 분평동: 1개
서울특별시 서초구 방배2동: 1개
경상남도 창원시 마산합포구 완월동: 1개
전라북도 김제시 교월동: 1개
경상남도 거창군 위천면: 1개
전라북도 고창군 고창읍: 1개
부산광역시 동래구 수민동: 1개
경상북도 의성군 단밀면: 1개
부산광역시 사상구 학장동: 1개
서울특별시 용산구 이태원제1동: 1개
경기도 안양시 동안구 호계2동: 1개
부산광역시 해운대구 반여제3동: 1개
전라남도 장흥군 장흥읍: 1개
경상북도 상주시 북문동: 1개
충청북도 청주시 청원구 율량.사천동: 1개
전라북도 남원시 노암동: 1개
전라북도 부안군 변산면: 1개
전라북도 전주시 완산구 삼천2동: 1개
충청북도 영동군 학산면: 1개
제주특별자치도 제주시 노형동: 1개
광주광역시 광산구 운남동: 1개
부산광역시 사하구 다대제2동: 1개
경상남도 창녕군 이방면: 1개
부산광역시 부산진구 전포제1동: 1개
충청남도 태안군 안면읍: 1개
대전광역시 서구 둔산1동: 1개
전라남도 구례군 마산면: 1개
울산광역시 울주군 서생면: 1개
경상북도 안동시 북후면: 1개
경상북도 영천시 화남면: 1개
경상북도 안동시 강남동: 1개
경기도 평택시 비전2동: 1개
대전광역시 대덕구 회덕동: 1개
충청남도 서산시 부석면: 1개
대구광역시 달서구 용산1동: 1개
대구광역시 달서구 상인3동: 1개
전라남도 여수시 한려동: 1개
경상북도 청도군 청도읍: 1개
서울특별시 동작구 신대방제1동: 1개
대전광역시 서구 갈마1동: 1개
충청북도 진천군 덕산읍: 1개
대전광역시 중구 오류동: 1개
전라남도 여수시 동문동: 1개
전라남도 완도군 완도읍: 1개
경기도 양주시 장흥면: 1개
전라북도 전주시 완산구 노송동: 1개
서울특별시 용산구 한강로동: 1개
전라북도 완주군 운주면: 1개
부산광역시 중구 중앙동: 1개
부산광역시 강서구 강동동: 1개
경상북도 경산시 압량읍: 1개
전라북도 김제시 부량면: 1개
전라남도 여수시 광림동: 1개
세종특별자치시 nan 보람동: 1개
경상북도 칠곡군 왜관읍: 1개
대전광역시 동구 대동: 1개
부산광역시 북구 화명제1동: 1개
충청남도 아산시 온양3동: 1개
경기도 성남시 중원구 중앙동: 1개
광주광역시 서구 농성1동: 1개
울산광역시 남구 달동: 1개
경상북도 경주시 황남동: 1개
경상남도 통영시 사량면: 1개
경기도 용인시 기흥구 상갈동: 1개
강원특별자치도 횡성군 청일면: 1개
경기도 평택시 팽성읍: 1개
전라북도 임실군 삼계면: 1개
경기도 고양시 일산동구 장항2동: 1개
전라북도 남원시 보절면: 1개
전라남도 목포시 유달동: 1개
서울특별시 성동구 사근동: 1개
울산광역시 울주군 두동면: 1개
경상남도 김해시 한림면: 1개
부산광역시 사하구 장림제2동: 1개
경기도 여주시 가남읍: 1개
경상북도 칠곡군 동명면: 1개
대구광역시 중구 동인동: 1개
경기도 시흥시 매화동: 1개
세종특별자치시 nan 소담동: 1개
전라남도 고흥군 두원면: 1개
경상북도 문경시 농암면: 1개
충청남도 공주시 신관동: 1개
전라남도 담양군 창평면: 1개
경기도 화성시 동탄2동: 1개
경상남도 창녕군 영산면: 1개
제주특별자치도 제주시 도두동: 1개
전라남도 신안군 비금면: 1개
경상남도 창원시 마산합포구 가포동: 1개
부산광역시 해운대구 송정동: 1개
대구광역시 달서구 진천동: 1개
전라남도 여수시 미평동: 1개
경기도 시흥시 은행동: 1개
대구광역시 수성구 지산1동: 1개
부산광역시 부산진구 초읍동: 1개
경상북도 김천시 지례면: 1개
대구광역시 서구 평리4동: 1개
전라북도 전주시 완산구 효자1동: 1개
경기도 용인시 수지구 신봉동: 1개
광주광역시 서구 유덕동: 1개
전라남도 여수시 충무동: 1개
대전광역시 유성구 진잠동: 1개
충청북도 청주시 흥덕구 강서제1동: 1개
부산광역시 연제구 거제제4동: 1개
경상북도 상주시 신흥동: 1개
경기도 군포시 산본2동: 1개
전라남도 순천시 중앙동: 1개
광주광역시 북구 삼각동: 1개
전라남도 여수시 대교동: 1개
충청남도 청양군 비봉면: 1개
충청남도 금산군 추부면: 1개
세종특별자치시 nan 전의면: 1개
부산광역시 영도구 청학제1동: 1개
경상북도 청도군 이서면: 1개
광주광역시 북구 용봉동: 1개
경상북도 성주군 초전면: 1개
충청남도 당진시 신평면: 1개
경상북도 울진군 후포면: 1개
전라남도 순천시 승주읍: 1개
전라북도 무주군 설천면: 1개
경상북도 포항시 북구 용흥동: 1개
경기도 화성시 향남읍: 1개
충청남도 예산군 응봉면: 1개
전라북도 익산시 신동: 1개
경상북도 문경시 동로면: 1개
경상남도 함양군 서하면: 1개
전라북도 순창군 팔덕면: 1개
전라남도 여수시 쌍봉동: 1개
부산광역시 영도구 동삼제1동: 1개
경상북도 문경시 점촌5동: 1개
경기도 광주시 광남2동: 1개
경상남도 창원시 진해구 병암동: 1개
강원특별자치도 춘천시 퇴계동: 1개
전라남도 순천시 송광면: 1개
충청북도 영동군 영동읍: 1개
경상북도 고령군 다산면: 1개
경상남도 밀양시 산내면: 1개
경상북도 상주시 외서면: 1개
경상북도 성주군 선남면: 1개
경상남도 밀양시 초동면: 1개
전라북도 남원시 사매면: 1개
부산광역시 동구 범일제1동: 1개
경상북도 포항시 북구 두호동: 1개
광주광역시 광산구 우산동: 1개
대전광역시 서구 갈마2동: 1개
경상남도 김해시 칠산서부동: 1개
충청남도 보령시 주교면: 1개
전라남도 여수시 율촌면: 1개
경상북도 안동시 태화동: 1개
충청북도 청주시 서원구 성화.개신.죽림동: 1개
경상남도 창녕군 계성면: 1개
경기도 의정부시 송산3동: 1개
경상남도 의령군 낙서면: 1개
전라북도 남원시 대산면: 1개
서울특별시 용산구 남영동: 1개
부산광역시 강서구 명지2동: 1개
세종특별자치시 nan 도담동: 1개
부산광역시 동래구 명장제2동: 1개
경기도 화성시 동탄4동: 1개
부산광역시 연제구 거제제1동: 1개
경상북도 고령군 쌍림면: 1개
경상북도 청도군 화양읍: 1개
부산광역시 중구 대청동: 1개
서울특별시 마포구 서교동: 1개
제주특별자치도 서귀포시 안덕면: 1개
경기도 용인시 수지구 풍덕천1동: 1개
부산광역시 사하구 당리동: 1개
충청북도 청주시 상당구 금천동: 1개
부산광역시 동래구 온천제1동: 1개
대전광역시 동구 가양1동: 1개
경기도 광주시 능평동: 1개
경상북도 경산시 남부동: 1개
대구광역시 중구 성내2동: 1개
경상북도 성주군 대가면: 1개
부산광역시 북구 구포제3동: 1개
서울특별시 영등포구 여의동: 1개
부산광역시 금정구 부곡제2동: 1개
대구광역시 북구 노원동: 1개
경기도 용인시 기흥구 기흥동: 1개
서울특별시 마포구 서강동: 1개
서울특별시 강남구 신사동: 1개

In [ ]:
# 축제 전 OD 데이터 분석
origin_hdong_counts = bf_filtered_nh['origin_hdong_cd'].value_counts()

# 행정동 코드에 해당하는 시도명, 시군구명 매칭 후 저장
results = []  # 결과를 저장할 리스트

for code, count in origin_hdong_counts.items():
    matching_info = dest_name[dest_name['행정동코드'] == code]

    if not matching_info.empty:
        sido = matching_info.iloc[0]['시도명']
        sigungu = matching_info.iloc[0]['시군구명']
        results.append({'시도명': sido, '시군구명': sigungu, 'count': count})
    else:
        print(f"코드 {code}: {count}개 (매칭되는 시도명/시군구명 없음)")

df_results = pd.DataFrame(results)

# 출발 데이터를 시단위로 묶기 위해 특별시, 광역시, 특별자치도를 special_cities로 구분하고, 그룹명 생성시 시군구 앞3글자가 동일하면 같은 그룹으로 묶도록 함
# 평택시 -> 3글자, 의정부시 -> 앞 3글자로 그룹화 가능, 용인시 기흥구 -> 앞 3글자로 그룹화 가능
# 특별시/광역시/특별자치도

special_cities = [
    '서울특별시', '부산광역시', '대구광역시', '대전광역시',
    '인천광역시', '광주광역시', '울산광역시', '제주특별자치도'
]

# 그룹명 생성: special_cities는 시도명 기준으로, 나머지는 시도명 + 시군구 앞 3글자
def generate_group_name(row):
    if row['시도명'] in special_cities:
        return row['시도명']  # 특별시/광역시는 시도명으로 그룹화
    else:
        # 시군구명이 결측값일 경우 기본값으로 처리
        sigungu = row['시군구명'] if pd.notna(row['시군구명']) else ""
        return f"{row['시도명']} {sigungu[:3]}"  # 시군구명 앞 3글자 포함

# 그룹명 생성 및 추가
df_results['그룹명'] = df_results.apply(generate_group_name, axis=1)

# 그룹화하여 개수 합산
grouped_df = df_results.groupby('그룹명', as_index=False).sum()

# 개수 기준으로 내림차순 정렬
grouped_df = grouped_df.sort_values(by='count', ascending=False)

# 결과 출력
for idx, row in grouped_df.iterrows():
    print(f"{row['그룹명']}: {row['count']}개")

코드 4139065000: 1개 (매칭되는 시도명/시군구명 없음)
경상남도 진주시: 28789개
경상남도 사천시: 992개
경상남도 산청군: 482개
경상남도 창원시: 292개
경상남도 하동군: 238개
부산광역시: 222개
경상남도 남해군: 105개
경상남도 김해시: 104개
경상남도 고성군: 103개
대구광역시: 103개
경상남도 거제시: 100개
경상남도 합천군: 88개
경상남도 함양군: 86개
경상남도 통영시: 73개
경상남도 의령군: 57개
대전광역시: 55개
울산광역시: 54개
서울특별시: 52개
경상남도 함안군: 48개
전라남도 광양시: 40개
경상남도 거창군: 40개
전라남도 순천시: 37개
경상남도 양산시: 32개
전라남도 여수시: 24개
광주광역시: 23개
경상북도 구미시: 21개
전라북도 전주시: 19개
경상남도 밀양시: 18개
경상북도 경주시: 15개
전라남도 구례군: 14개
세종특별자치시 : 13개
충청북도 청주시: 13개
경상북도 경산시: 12개
경기도 화성시: 11개
충청남도 천안시: 11개
경상북도 포항시: 11개
충청남도 아산시: 10개
전라북도 남원시: 9개
경기도 성남시: 8개
경기도 용인시: 8개
충청남도 금산군: 7개
인천광역시: 7개
경기도 평택시: 7개
경상남도 창녕군: 6개
경상북도 칠곡군: 5개
경상북도 안동시: 5개
경상북도 영천시: 5개
제주특별자치도: 5개
경상북도 고령군: 5개
전라북도 무주군: 5개
충청남도 예산군: 5개
경상북도 성주군: 4개
전라남도 고흥군: 4개
경기도 수원시: 4개
경기도 시흥시: 4개
전라북도 장수군: 4개
전라남도 해남군: 4개
전라북도 임실군: 4개
충청남도 당진시: 4개
충청북도 진천군: 4개
경상북도 의성군: 4개
경상북도 문경시: 4개
충청남도 서천군: 3개
경상북도 김천시: 3개
경상북도 상주시: 3개
전라남도 완도군: 3개
전라북도 고창군: 3개
경기도 이천시: 3개
경기도 안성시: 3개
전라북도 김제시: 3개
전라남도 목포시: 3개
전라남도 담양군: 3개
전라북도 익산시: 3개
충청북도 음성군: 3개
충청남도 계룡시: 3개
경상북도 영주시: 3개
경상북도 청도군: 3개
충청북도 옥천군: 2개
경기도 광주시: 2개
경기도 군포시: 2개
경기도 남양주: 2개
경기도 부천시: 2개
강원특별자치도 삼척시: 2개
충청남도 보령시: 2개
충청북도 영동군: 2개
전라북도 군산시: 2개
전라남도 영광군: 2개
전라남도 영암군: 2개
전라북도 정읍시: 2개
경기도 의왕시: 2개
경기도 안양시: 2개
전라북도 순창군: 2개
전라북도 부안군: 2개
전라북도 완주군: 2개
충청남도 청양군: 2개
충청남도 태안군: 2개
충청북도 괴산군: 2개
경기도 고양시: 1개
경기도 김포시: 1개
전라남도 신안군: 1개
전라남도 장성군: 1개
전라남도 장흥군: 1개
전라남도 무안군: 1개
전라남도 보성군: 1개
경상북도 영덕군: 1개
경상북도 울진군: 1개
전라북도 진안군: 1개
경기도 의정부: 1개
경기도 파주시: 1개
경기도 양주시: 1개
경기도 여주시: 1개
경기도 오산시: 1개
충청남도 공주시: 1개
충청남도 부여군: 1개
충청남도 서산시: 1개
충청북도 제천시: 1개
강원특별자치도 횡성군: 1개
강원특별자치도 춘천시: 1개

In [ ]:
# 축제 기간 OD 데이터 분석
origin_hdong_counts = f_filtered_nh['origin_hdong_cd'].value_counts()

# 행정동 코드에 해당하는 시도명, 시군구명 매칭 후 저장
results = []  # 결과를 저장할 리스트

for code, count in origin_hdong_counts.items():
    matching_info = dest_name[dest_name['행정동코드'] == code]

    if not matching_info.empty:
        sido = matching_info.iloc[0]['시도명']
        sigungu = matching_info.iloc[0]['시군구명']
        results.append({'시도명': sido, '시군구명': sigungu, 'count': count})
    else:
        print(f"코드 {code}: {count}개 (매칭되는 시도명/시군구명 없음)")

df_results = pd.DataFrame(results)

# 특별시/광역시/특별자치도 목록 정의
special_cities = [
    '서울특별시', '부산광역시', '대구광역시', '대전광역시',
    '인천광역시', '광주광역시', '울산광역시', '제주특별자치도'
]

# 그룹명 생성: special_cities는 시도명 기준으로, 나머지는 시도명 + 시군구 앞 3글자
def generate_group_name(row):
    if row['시도명'] in special_cities:
        return row['시도명']  # 특별시/광역시는 시도명으로 그룹화
    else:
        # 시군구명이 결측값일 경우 기본값으로 처리
        sigungu = row['시군구명'] if pd.notna(row['시군구명']) else ""
        return f"{row['시도명']} {sigungu[:3]}"  # 시군구명 앞 3글자 포함

# 그룹명 생성 및 추가
df_results['그룹명'] = df_results.apply(generate_group_name, axis=1)

# 그룹화하여 개수 합산
grouped_df = df_results.groupby('그룹명', as_index=False).sum()

# 개수 기준으로 내림차순 정렬
grouped_df = grouped_df.sort_values(by='count', ascending=False)

# 결과 출력
for idx, row in grouped_df.iterrows():
    print(f"{row['그룹명']}: {row['count']}개")

경상남도 진주시: 31650개
경상남도 사천시: 946개
경상남도 창원시: 485개
경상남도 산청군: 313개
부산광역시: 307개
경상남도 하동군: 157개
경상남도 김해시: 155개
대구광역시: 155개
경상남도 거제시: 106개
경상남도 남해군: 97개
경상남도 통영시: 90개
경상남도 합천군: 86개
경상남도 고성군: 84개
경상남도 함양군: 70개
전라남도 순천시: 69개
경상남도 의령군: 68개
경상남도 함안군: 58개
울산광역시: 58개
전라남도 광양시: 56개
광주광역시: 48개
서울특별시: 43개
전라남도 여수시: 42개
경상남도 양산시: 37개
전라북도 전주시: 37개
경상남도 거창군: 32개
대전광역시: 25개
경상북도 구미시: 21개
충청북도 청주시: 19개
경상북도 경주시: 17개
경상남도 창녕군: 13개
경상북도 포항시: 12개
경상남도 밀양시: 11개
경상북도 경산시: 10개
경기도 수원시: 8개
전라남도 나주시: 7개
충청남도 천안시: 7개
전라북도 장수군: 7개
충청북도 제천시: 6개
전라남도 목포시: 6개
경기도 용인시: 6개
전라북도 남원시: 6개
경상북도 성주군: 5개
세종특별자치시 : 5개
경상북도 칠곡군: 5개
전라북도 군산시: 4개
전라북도 익산시: 4개
경기도 평택시: 4개
충청남도 금산군: 4개
경상북도 김천시: 4개
경상북도 안동시: 4개
충청남도 서천군: 3개
충청남도 아산시: 3개
전라남도 곡성군: 3개
인천광역시: 3개
충청남도 부여군: 3개
경기도 성남시: 3개
전라북도 순창군: 3개
전라북도 무주군: 3개
경기도 화성시: 3개
경상북도 영천시: 3개
충청북도 진천군: 3개
전라북도 진안군: 3개
경상북도 청도군: 2개
경상북도 고령군: 2개
전라남도 구례군: 2개
전라남도 강진군: 2개
전라남도 화순군: 2개
전라남도 해남군: 2개
제주특별자치도: 2개
강원특별자치도 태백시: 2개
경기도 양주시: 2개
경기도 이천시: 2개
경기도 안산시: 2개
전라남도 장흥군: 2개
전라남도 무안군: 2개
경상북도 영덕군: 2개
전라남도 영광군: 2개
경기도 포천시: 2개
경기도 고양시: 1개
경기도 광주시: 1개
경기도 부천시: 1개
경기도 남양주: 1개
경기도 김포시: 1개
경기도 군포시: 1개
전라남도 고흥군: 1개
충청남도 홍성군: 1개
충청북도 단양군: 1개
충청북도 보은군: 1개
경상북도 문경시: 1개
전라남도 완도군: 1개
경상북도 영양군: 1개
경상북도 울진군: 1개
전라남도 보성군: 1개
경기도 파주시: 1개
전라북도 임실군: 1개
경기도 오산시: 1개
충청남도 계룡시: 1개
전라북도 정읍시: 1개
충청남도 공주시: 1개
충청북도 충주시: 1개

In [ ]:
# 행정동 코드 -> (시도명, 시군구명 앞 3글자) 매핑 함수 생성
def get_region_info(hdong_code):
    matching_info = dest_name[dest_name['행정동코드'] == hdong_code]

    if not matching_info.empty:
        # 시도명 추출
        sido = matching_info.iloc[0]['시도명']

        # 시군구명 추출 및 결측값 처리
        sigungu = matching_info.iloc[0]['시군구명']
        if pd.isna(sigungu):
            sigungu_prefix = ""  # 결측값인 경우 빈 문자열 사용
        else:
            sigungu_prefix = sigungu[:3]  # 앞 3글자 추출

        return f"{sido} {sigungu_prefix}"
    else:
        return None  # 매칭되는 정보가 없으면 None 반환

# bf_filtered_nh의 origin_hdong_cd를 시도명+시군구명 앞 3글자로 변환
bf_filtered_nh['region'] = bf_filtered_nh['origin_hdong_cd'].apply(get_region_info)

# f_filtered_nh의 origin_hdong_cd를 시도명+시군구명 앞 3글자로 변환
f_filtered_nh['region'] = f_filtered_nh['origin_hdong_cd'].apply(get_region_info)

# 각 데이터프레임에서 고유한 region 값 집합 생성
bf_regions = set(bf_filtered_nh['region'].dropna())
f_regions = set(f_filtered_nh['region'].dropna())

# 두 집합의 차이 계산
only_in_bf = bf_regions - f_regions  # bf_filtered_nh에만 있는 지역
only_in_f = f_regions - bf_regions  # f_filtered_nh에만 있는 지역
common_regions = bf_regions & f_regions  # 공통으로 포함된 지역

# 결과 출력
print("bf_filtered_nh에만 있는 지역:")
for region in only_in_bf:
    print(region)

print("\nf_filtered_nh에만 있는 지역:")
for region in only_in_f:
    print(region)

print(f"\n공통으로 포함된 지역 개수: {len(common_regions)}")

bf_filtered_nh에만 있는 지역:
충청남도 보령시
제주특별자치도 서귀포
충청남도 서산시
인천광역시 연수구
강원특별자치도 춘천시
충청남도 청양군
서울특별시 성동구
인천광역시 남동구
강원특별자치도 횡성군
경기도 안성시
경상북도 영주시
서울특별시 성북구
충청북도 괴산군
경상북도 의성군
경기도 여주시
전라북도 부안군
전라남도 신안군
전라남도 영암군
경기도 의정부
충청남도 태안군
충청남도 당진시
경상북도 상주시
전라북도 고창군
서울특별시 동대문
경기도 시흥시
경기도 의왕시
충청북도 옥천군
서울특별시 도봉구
전라남도 장성군
전라북도 완주군
전라남도 담양군
경기도 안양시
충청남도 예산군
강원특별자치도 삼척시
충청북도 영동군
충청북도 음성군
전라북도 김제시

f_filtered_nh에만 있는 지역:
전라남도 나주시
강원특별자치도 태백시
충청북도 단양군
전라남도 화순군
경상북도 영양군
서울특별시 종로구
경기도 포천시
서울특별시 강북구
서울특별시 은평구
전라남도 곡성군
충청남도 홍성군
인천광역시 미추홀
서울특별시 금천구
충청북도 충주시
충청북도 보은군
전라남도 강진군
경기도 안산시
서울특별시 강동구

공통으로 포함된 지역 개수: 137

In [ ]:
# 1. 각 데이터프레임에서 고유한 region 값 집합 생성
bf_regions = set(bf_filtered_nh['region'].dropna())
f_regions = set(f_filtered_nh['region'].dropna())

# 2. 공통으로 포함된 지역 계산
common_regions = bf_regions & f_regions  # 공통 지역

# 3. 공통 지역별 데이터 수 계산
bf_counts = bf_filtered_nh.groupby('region').size()  # bf_filtered_nh 지역별 개수
f_counts = f_filtered_nh.groupby('region').size()  # f_filtered_nh 지역별 개수

# 4. 공통 지역에서의 데이터 수 증감 계산
changes = []

for region in common_regions:
    bf_count = bf_counts.get(region, 0)  # bf_filtered_nh의 데이터 수 (없으면 0)
    f_count = f_counts.get(region, 0)  # f_filtered_nh의 데이터 수 (없으면 0)
    change = f_count - bf_count  # 데이터 수 증감 계산
    changes.append({'region': region, 'bf_count': bf_count, 'f_count': f_count, 'change': change})

# 5. 결과를 DataFrame으로 정리
changes_df = pd.DataFrame(changes)

# 6. 증감 결과 출력
print("공통 지역별 데이터 수 증감:")
print(changes_df)

# 7. 증감이 큰 순서로 정렬하여 출력 (옵션)
changes_df_sorted = changes_df.sort_values(by='change', ascending=False)
print("\n증감이 큰 순서로 정렬된 데이터:")
print(changes_df_sorted)

공통 지역별 데이터 수 증감:
       region  bf_count  f_count  change
0    부산광역시 서구         9        9       0
1     경기도 성남시         8        3      -5
2    대구광역시 서구         2        5       3
3    전라남도 구례군        14        2     -12
4    경상남도 산청군       482      313    -169
..        ...       ...      ...     ...
132  경상남도 거제시       100      106       6
133   경기도 광주시         2        1      -1
134  충청북도 제천시         1        6       5
135  경상남도 통영시        73       90      17
136  광주광역시 동구         1        3       2

[137 rows x 4 columns]

증감이 큰 순서로 정렬된 데이터:
        region  bf_count  f_count  change
92    경상남도 진주시     28789    31650    2861
54    경상남도 창원시       292      485     193
100   경상남도 김해시       104      155      51
76    전라남도 순천시        37       69      32
53   부산광역시 강서구        12       34      22
..         ...       ...      ...     ...
125   경상남도 함양군        86       70     -16
127   경상남도 고성군       103       84     -19
69    경상남도 사천시       992      946     -46
73    경상남도 하동군       238      157     -81
4     경상남도 산청군       482      313    -169

[137 rows x 4 columns]